*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
ul, li, ol, dd, dl {
    list-style: none;
}

html {
  scroll-behavior: smooth;
}

body, html {
    font-family: 'SUITE-Regular', sans-serif;
    font-family: 'Gilda Display', serif;
}

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
} 
.gtranslate_wrapper{

    z-index:999999;
}


/* 헤더 */
/* header */

/* header */

a {
    text-decoration: none;
  }
  
  .menu {
    position: relative;
    width: 90%;
    left: 5%;
    padding-top: 25px;
  }
  
  li{
    display: inline-block;
    margin: 0 10px;
  }
  
  .top_left {
    float: left;
  }
  
  .top_right {
    float: right;
  }
  
  a {
    color: black;
    font-size: 20px;
  }
  
  .temp {width: 50px;}
  
  
  .buttons button{
    cursor: pointer; 
    border-radius: 55px; 
    background: 0 none; border: 0 none; margin: 0; 
    font-size: 14px; 
    font-family: 'Gilda Display', serif;
  }
  
  .buttons{
    position: absolute;
    text-align: center; 
    margin-top: 10px;
    right: 5%;
  }
  
  .buttons button{
    overflow: hidden; position: relative; 
    display: inline-block; vertical-align: top; 
    width: 50px; height: 50px; 
    line-height: 20px; 
    border: 1px solid #090909; 
    transition: all 0.5s;
    color: rgb(0, 0, 0);
  }
  .buttons button:hover{color: #fefefe !important; font-weight: 900 !important;}
  .buttons button:before{content: ""; z-index: -1; 
    position: absolute; background: hsl(0, 2%, 11%); transition: all 1s;}
  .buttons .dark:before{left: 0; bottom: 0; width: 100%; height: 0; border-top-left-radius: 50%; border-top-right-radius: 50%;}
  .buttons .dark:hover:before{height: 200%;}
  
  
  
  .logo {
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 10px;
  }
  
  .logo a img {
    width: 30%;
  }
  
  .title{
  
    margin: 0 auto;
    text-align: center;
    left: 50%;
    width: 80%;
  }
  
  .title a img {
    width: 100%;
    height: auto;
  }
  
  header {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    text-align: center;
  }


html, body, .stage, .ring, .img {
    width:100%;
    height: 100%;
    transform-style: preserve-3d;
    user-select:none;
  }
  

  
  .container div{
    position: absolute;
  }
  
  .container {
    perspective: 2000px;
    width: 300px;
    height: 400px;  
    left:50%;
    top:30%;
    transform:translate(-50%,-50%);
    position: relative;
  }
  .container .btn_dwn{
    position: absolute;
    bottom: -75px;
    left: 120px;
  }
  
  /* 슬라이드 이후 */
  
  .title h2 {
    font-size: 2rem;
    /* position: absolute; */
    margin-top: 50px;
  }


  /* 자세히 보기 창 */


  
  .info1{
    display: block;
    animation: fadeInUp 1s;
    text-align: center;
    height: 200px;
    line-height: 200px;
    color: white;
    font-weight: 600;
  }



       /* header */
       * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    

    .hover10 figure {
        text-align: center;
        position: relative;
    }

    .hover10 figure div .choice{
        margin: 0 auto;
        width: 500px;
        height: 600px;
        animation: fadeInUp 1s;
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        background-size: cover;
    }

    .hover10 figure b {
        position: absolute;
        top: -22px;
        left: 0;
        z-index: 2;
    }
    .hover10 figure div p {
        display: none;
        color: #fefefe;
        position: absolute;
        top: 100px;
        left: 20%;
        font-size: 30px;
    }
    .hover10 figure div{
        position: relative;
    }
    .hover10 figure b:hover+div .choice{
        -webkit-filter: blur(3px) grayscale(80%);
        filter: blur(3px) grayscale(80%);
    }
    .hover10 figure b:hover+div p{
        animation: fadeInUp 1s;
        display: block;
    }
    a {
        text-decoration: none;
    }

    .menu {
        position: relative;
        width: 90%;
        left: 5%;
        padding-top: 25px;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    .top_left {
        float: left;
    }

    .top_right {
        float: right;
    }

    a {
        color: black;
        font-size: 20px;
    }

    .temp {
        width: 50px;
    }


    .buttons button {
        cursor: pointer;
        border-radius: 55px;
        background: 0 none;
        border: 0 none;
        margin: 0;
        font-size: 14px;
        font-family: 'Gilda Display', serif;
    }

    .buttons {
        position: absolute;
        text-align: center;
        margin-top: 10px;
        right: 5%;
    }

    .buttons button {
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 50px;
        height: 50px;
        line-height: 20px;
        border: 1px solid #090909;
        transition: all 0.5s;
        color: rgb(0, 0, 0);
    }

    .buttons button:hover {
        color: #fefefe !important;
        font-weight: 900 !important;
    }

    .buttons button:before {
        content: "";
        z-index: -1;
        position: absolute;
        background: hsl(0, 2%, 11%);
        transition: all 1s;
    }

    .buttons .dark:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    .buttons .dark:hover:before {
        height: 200%;
    }



    .logo {
        width: 80%;
        margin-left: 10%;
        position: absolute;
        top: 10px;
    }

    .logo a img {
        width: 30%;
    }

    .title {

        margin: 0 auto;
        text-align: center;
        left: 50%;
        width: 80%;
    }

    .title a img {
        width: 100%;
        height: auto;
    }

    header {
        width: 100%;
        height: 70px;
        margin: 0 auto;
        text-align: center;
    }

    .gtranslate_wrapper{
        position: absolute;
    }

    .hover10{
        margin: -103px;
        margin-top: -15px
    }
  
    .hidden{
        display: none;
    }

    .foot{
        height: 700px;
        margin-top: 500px;
        overflow: hidden;
    }

    .foot .na{
        overflow: hidden;
        
    }
    .na img{
        float: left;
        width:600px;
    }
    .na .title{
        width: 400px;
        float: right;
        margin-top: 150px;
        text-align: right;
    }
    .na .title p{
        font-size: 25px;
        font-weight: 800;
    }
    .foot .box{
        float: right;
        text-align: right;
        
       
    }
    
    @keyframes fadeInUpImg {
        0% {
            opacity: 0;
            transform: translate3d(0, 0, 20%);
        }
    
        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }
    @keyframes fadeInUpName {
        0% {
            opacity: 0;
            transform: translate3d(20%, 0, 0);
        }
    
        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }
    @keyframes fadeInUpContent {
        0% {
            opacity: 0;
            transform: translate3d(0, 30%, 0);
        }
    
        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }
    .foot .box p{
        margin-top: 10px;
    }
    .down{
        margin-top: 30px;
        text-align: center;
    }
    .down p{
        font-size: 20px;
        font-weight: 400;
    }

    .fade .fadeImg{
        animation: fadeInUpImg 3s;
    }
    .fade .na .title{
        animation: fadeInUpName 3s;
    }
    .fade .fadeBox{
        animation: fadeInUpContent 4s;
    }
    .hid{
        display: none;
    }
    