

.box2  img {
    width: 350px;
    height: 350px;
  }
.section_title {
    position: relative;
}

.tit {
    font-size: 2rem;
}

.section_title .btn_more {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    padding: 15px 0;
}

.btn_more{
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


.post_list  {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px ;
	grid-template-rows: 480px 480px;
    justify-content: center;
    margin-left: 30px;
}

    


li {
    list-style: none;

}


/* 섹션 */


  /* 버튼 */
  .btn {
 
    text-align: center;
    margin-bottom: 30px;
  }

#btn1, #btn2 {
    background: none;
    border: none;
    font-size: 1.07rem;
    padding: 30px;
  }

  #btn1:hover,#btn2:hover{
    color: #4295F5; 
        font-weight:600;
      font-weight: bold;
    }
  
.page {
    margin-top: 50px;
    text-align: center;
}
  /* section */

  .tit{
    text-align: center;
    margin-top: 50px;
  }

/* 글씨 */


.content h3{
    padding-top: 10px;
   
}

.date{
    font-size: 0.9rem;
    
    color: #999;
    
}