@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* header */

header {
  position: fixed;
  background-color: white;
  z-index: 1;
}

a {
  text-decoration: none;
}

.menu {
  position: relative;
  width: 90%;
  left: 5%;
  padding-top: 25px;
}

li{
  display: inline-block;
  margin: 0 10px;
}

.top_left {
  float: left;
}

.top_right {
  float: right;
}

a {
  color: black;
  font-size: 20px;
}

.temp {width: 50px;}


.buttons button{
  cursor: pointer; 
  border-radius: 55px; 
  background: 0 none; border: 0 none; margin: 0; 
  font-size: 12px; 
  font-family: 'Gilda Display', serif;
}

.buttons{
  position: absolute;
  text-align: center; 
  margin-top: 10px;
  right: 5%;
  z-index: 2;
  position: fixed;
}

.buttons button{
  overflow: hidden; position: relative; 
  display: inline-block; vertical-align: top; 
  width: 50px; height: 50px; 
  line-height: 20px; 
  border: 1px solid #090909; 
  transition: all 0.5s;
  color: rgb(0, 0, 0);
}
.buttons button:hover{color: #fefefe !important; font-weight: 900 !important;}
.buttons button:before{content: ""; z-index: -1; 
  position: absolute; background: hsl(0, 3%, 6%); transition: all 1s;}
.buttons .dark:before{left: 0; bottom: 0; width: 100%; height: 0; border-top-left-radius: 50%; border-top-right-radius: 50%;}
.buttons .dark:hover:before{height: 200%;}



.logo {
  width: 80%;
  /* margin-left: 10%; */
  position: absolute;
  top: 10px;
}

.logo a img {
  width: 30%;
  margin-left: 48%;
}

.title{

  margin: 0 auto;
  text-align: center;
  left: 50%;
  width: 80%;
  top: 100px;
  
}

.title a {pointer-events: none;}

.title a img {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  text-align: center;
}



/* main1 : 전시정보 */

.down {
  /* margin: 0 auto; */
  margin-left: 0;
  margin-top: 20px;
  text-align: center;
}

.down img {
  animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
  width: 45px;
  position: absolute;
  margin-left: -10px;
  /* margin-top: 50px; */
}

@keyframes motion {
  0% {margin-top: 0px;}
  100% {margin-top: 10px;}
}

.info {
  margin-top: 50px;
}

.container {
  position: relative;
  width: 33.5%;
  display: inline-block;
  margin: -3px;
  padding: 0;
  font-size: 0;
}

.image {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
}

.textbox {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .textbox {
  opacity: 0.5;
}

.text {
  background-color: rgb(0,140,186);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'TheJamsil5Bold';
}

.text:hover {
  cursor: pointer;
}

/* main2 : best photo */
.best_pho {margin: 120px 0 30px 0;}

.best_pho h3 {text-align: center; font-size: 20px; font-family: 'Gilda Display', serif;}
.best_pa h3 {margin-top: 100px; text-align: center; font-size: 20px; font-family: 'Gilda Display', serif;}


.swiper-container {
  width: 90%;
  height: 100%;
  overflow: hidden;
  margin-left: 5%;
  margin-top: 50px;
}
.swiper-slide {
 
  text-align: center;
  font-size: 18px;
  background: #fff; /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: 0px 2px 10px 0px #848484;
}

.swiper-slide img {
  width: 450px;
  height: 300px;
}


/* footer */
.foo_info {
  position: relative;
  overflow: hidden;
  margin-top: 120px;
  width: 100%;
  height: 120px;
  background-image: url("../img/footer.png");
  align-items: center;
  padding: 10px;
}

.foo_text {color: white; font-size: 12px;}

.foo_info .company {
  float: left; 
  width: 25%; height: 100px; 
  border-right: 1px solid white;
  padding: 10px;
}
.foo_info .cs {
  float: left; 
  width: 25%; height: 90px; 
  border-right: 1px solid white;
  padding: 10px;
  }
.foo_info .our {
  float: right; 
  width: 25%; 
  height: 100px; 
  border-left: 1px solid white;
  padding: 10px;
  text-align: right;
}